@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter";
}

header,
.page1-main,
.page4,
.work-page,
footer {
  background-color: #043873;
}

.page1-main {
  padding: 34px;
}

nav,
.logo {
  min-height: 7vh;
}

.nav-link,
footer ul li a {
  color: white;
  text-decoration: none;
}

.nav-link:hover,
footer ul li a:hover {
  color: #a1a6a9;
}

.nav-link:focus,
.nav-link:active {
  color: white !important;
}

.nav-item.dropdown:hover .down-arr-img {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.custom-nav-list .nav-link,
.btn1,
.btn2 {
  font-size: 18px;
}

.navbar-brand {
  margin-right: 3rem;
}

.btn1,
.btn2 {
  white-space: nowrap;
  text-align: center;
  border: none;
  height: 50px;
}

.btn1 {
  min-width: 7vw;
  background-color: #ffe492;
  color: #043873;
  padding: 0.5rem 2rem;
}

.btn1:hover {
  background-color: #e1c477;
}

.btn2 {
  min-width: 10vw;
  padding: 0.4rem 2rem;
  background-color: #4f9cf9;
}

.btn2:hover {
  background-color: #3a7cb0;
}

.page1-main,
.plan-page,
.your-data,
.review {
  min-height: 100vh;
}

.heading-left-main {
  font-size: 64px;
  font-weight: 700;
}

.bg-landing-img {
  z-index: 0;
  opacity: 0.65;
  left: 0;
}

.app-inner {
  z-index: 2;
}

.landing-text,
.right-main {
  z-index: 1;
}

.landing-text {
  min-height: 80vh;
}

.page2-main {
  background: #fff;
}

.right-main-page2 {
  min-width: 55vw;
}

.heading-left-main-2,
.heading-left-main-3,
.heading-left-main-4,
.heading-left-main-5 {
  font-size: 72px;
  z-index: 1;
}

.heading-left-main-2::after,
.heading-left-main-3::after,
.heading-left-main-4::after,
.heading-left-main-5::after,
.heading-top-plan-page::after,
.heading-your-data::after {
  content: "";
  background-image: url(./assets/after-page2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 60%;
  height: 30%;
  z-index: -1;
}

.heading-left-main-2 {
  z-index: 1;
}

.heading-left-main-2::after {
  top: 87%;
  right: 0;
  z-index: -1;
}

.heading-left-main-3 {
  z-index: 1;
}
.heading-left-main-3::after {
  top: 70%;
  right: -14%;
  z-index: -1;
}
.heading-left-main-4::after {
  top: 85%;
  right: 0;
}

.heading-left-main-5::after {
  bottom: -15%;
  right: 11%;
}

.subheading-plan {
  width: 50%;
}

.bottom-plan-page {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card-container {
  display: flex;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  border: 1px solid #e1c477;
}

.card.short {
  transform: scale(0.95);
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-features {
  flex-grow: 1;
}

.btn-wrapper {
  margin-top: auto;
}

.card:hover,
.card2:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1) !important;
  cursor: pointer;
}

.card:hover {
  background: #043873;
  color: white;
  border: none;
}

.card:hover .price {
  color: #e1c477 !important;
}

.card:hover .plan-btn {
  border: none;
  color: white;
  background-color: #4f9cf9;
}

.card:hover .card-features ul li::before {
  filter: brightness(0) saturate(100%) invert(70%) sepia(63%) saturate(1100%)
    hue-rotate(348deg) brightness(90%) contrast(110%);
}

.card-features ul {
  list-style-type: none;
  padding-left: 0;
}

.card-features ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

.card-features ul li::before {
  content: "";
  background-image: url(./assets/plan-list.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.heading-top-plan-page::after {
  top: 65%;
  left: 50%;
  height: 34%;
}

.plan-btn {
  border: 1px solid #e1c477;
  border-radius: 10px;
}

.work-page {
  min-height: 70vh;
  position: relative;
  z-index: 1;
}

.heading-top-work-page::after {
  content: "";
  background-image: url(./assets/work-after.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 60%;
  height: 34%;
  top: 65%;
  left: 70%;
  z-index: -1;
}

.subheading-top-work-page {
  width: 75%;
}

.work-page div {
  min-height: 60vh;
}

.bg-work {
  position: absolute;
  top: -20%;
  left: 0;
  width: auto;
  height: auto;
}

.heading-your-data {
  font-size: 72px;
}

.heading-your-data::after {
  bottom: 43%;
  right: 0;
}

.sponsor-page {
  min-height: 60vh;
}

.sponsors-heading {
  position: relative;
}

.sponsors-heading::after,
.review-heading::after {
  content: "";
  background-image: url(./assets/sponsors-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.sponsors-heading::after {
  width: 100%;
  height: 40%;
  bottom: 20%;
  left: 35%;
}

.img-app {
  z-index: 5;
}

.review-heading::after {
  width: 50%;
  height: 40%;
  bottom: 20%;
  left: 50%;
}

.p-heading {
  color: #043873;
}

hr {
  z-index: 5;
  border: none;
  border-top: 3px solid white;
  height: 5px;
}

.card2 {
  min-height: 60vh;
  background-color: #4f9cf9;
  color: white;
  border-radius: 10px;
}

.card2:hover {
  background-color: #fff;
  color: black;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3) !important;
}

.card2:hover .q-img {
  color: #043873;
}

.card2:hover .p-heading {
  color: #000;
}

.card2:hover hr {
  background-color: #000;
}

footer h5 {
  font-weight: bold;
  margin-bottom: 15px;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a:hover {
  color: #e1c477;
}

footer .btn {
  border-radius: 25px;
}

.img-social {
  width: 25px;
  height: 25px;
}

footer .list-inline-item a:hover {
  opacity: 0.8;
}

.list-inline-item {
  margin-right: 10px;
}

.heading-left-footer {
  font-size: 5vw;
}

.dot1,
.dot3 {
  background-color: #3a7cb0;
}

.dot2 {
  background-color: #043873;
}

.page2-content {
  min-height: 90vh;
  z-index: 1;
}

a:hover {
  color: #e1c477;
}
@media (max-width: 576px) {
  .left-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .heading-left-main,
  .heading-top-work-page {
    font-size: 36px;
  }

  .subheading-left-main {
    font-size: 18px;
    font-weight: 400;
  }

  .heading-left-main-2 {
    font-size: 36px;
  }
  .heading-left-main-3,
  .heading-left-main-4,
  .heading-left-main-5,
  .heading-your-data {
    font-size: 36px;
    width: 100%;
    z-index: 1;
  }

  .subheading-left-main-2 {
    font-size: 18px;
  }
  .heading-left-main-3::after {
    top: 86%;
    right: -4%;
  }
  .subheading-left-main-3,
  .subheading-left-main-4,
  .subheading-left-main-5,
  .subheading-plan,
  .subheading-top-work-page,
  .subheading-your-data {
    font-size: 18px;
  }

  .heading-left-main-4::after {
    width: 60%;
    height: 40%;
    top: 83%;
    right: 0%;
  }

  .heading-left-main-5::after {
    width: 63%;
    height: 40%;
    top: 92%;
    right: -5%;
  }

  .plan-page {
    overflow-x: hidden;
  }

  .heading-top-work-page::after {
    width: 45%;
    height: 40%;
    top: 90%;
    left: 30%;
  }

  .heading-top-work-page {
    width: 80%;
  }

  .subheading-top-work-page {
    width: 90%;
  }

  .heading-your-data::after {
    top: 16%;
    right: 10%;
  }

  .icons img {
    width: 70px;
    height: 70px;
  }

  .right-main {
    z-index: 1;
  }

  .page2-content {
    min-height: 70vh;
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .sponsors-heading::after {
    left: 0;
    bottom: -20%;
    width: 100%;
    height: 100%;
  }
}
